@media only screen and (min-width: 32.5em) {
  .box4 {
    grid-row: 2;
    grid-column: 1;
  }

  .box5 {
    grid-template: 1fr auto / 1fr 1fr;
  }

  .box6,
  .box7 {
    margin: 10px;
  }

  .box6 {
    margin-right: 0.2em;
  }

  .box7 {
    margin-left: 0;
  }

  .box8 {
    display: block;
  }

  .box2 {
    grid-row: 5;
    grid-column: 1;
    width: 65%;
  }
  .box3 {
    grid-column: 1;
    grid-row: 5;
    width: 34%;
    margin-left: auto;
  }

  .first {
    display: flex;
    justify-content: space-around;
  }

  .footerlogo img {
    height: 50px;
  }

  .address,
  .contact {
    font-size: 0.7rem;
  }

  hr.solid {
    width: 29em;
  }

  .footerdate,
  .second {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 0.7rem;
  }

  .second {
    color: #ffffffff;
  }
}
