@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Maven+Pro:wght@400;600;700&family=Pacifico&display=swap");

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(111, 163, 33);
  padding: 10px;
  margin: auto;
  font-family: "Instrument Serif", serif;
  font-size: larger;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}
body {
  font-size: large;
}
h1,
h2,
h3 {
  font-family: "Instrument Serif", serif;
  text-align: center;
}
#title {
  text-align: center;
  padding-bottom: 0.5em;
}
p {
  text-align: center;
  margin: 2em;
  padding: 1em;
  font-family: "Instrument Serif", serif;
  font-size: larger;
}
hr {
  width: 85%;
}
img {
  width: 9em;
  height: auto;
  padding: 1em;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
footer {
  display: flex;
  justify-content: center;
  background-color: rgb(111, 163, 33);
  margin: auto;
  font-family: "Instrument Serif", serif;
  font-size: larger;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: rgb(201, 223, 75);
}
